*.swp
*.ps
*.gz
*.aux
*.aug
*.log
*.md
*.out
*.lof
*.toc
*.rar
*.md
*.o
*.lot
*.results
*.cfg
*.yaml
*.dvi
*/build/*
.vscode
*.metadata
*.settings*
*.lst
*.elf
*.bin
*.hex
*.map
*.d
*/Build/*
*Debug*
